//- extends layout

block content
  h1= title
  - let results = [{name:"Aishwarya", age:25, height: 153},{name:"Hari", age:24, height: 160},{name:"Sai", age:"24", height: 152}]
  div(class="container-fluid") 
  div(class="row")
    each friend,index in results
        div(class="col-sm-2") name: #{friend.name} , age: #{friend.age} , units: #{friend.height} 

  