extends layout

block content
  h1= title
  p Welcome!! #{title}
  button(type="button", class="btn btn-primary btn-lg" onclick="moreClaps()") Press me
  p 
  div(id="target") Clap for me 
  script. 
   var clap_count=0;
   function moreClaps() {
   clap_count+=1;
   document.getElementById("target").innerHTML="clap "+clap_count;
   }