body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.costumeAttr {
  background-color: brown;
  width: 200px;
  margin: 5px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;

}
#myTitle{
  color: #123456;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.values{
  margin-right: 2px;
  margin-bottom: 0;
  padding: 10px;
  justify-content:center;
  font-weight: bold;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  background-color: azure;
  border-radius: 1px;
}
.spcl{
    border-top: 2px solid red;
    width: 40%;
}
.values:hover{
  background-color: rgb(4, 255, 255);
  color: black;
}
 
